{% extends "base.html" %}
{% load static %}

{% block styles %}<link type="text/css" href="{% static 'portfolio/css/main.css' %}" rel="stylesheet" />{% endblock  %}

{% block content %}

<div class="wrapper">
    {% include "portfolio/includes/header.html" %}
    <main class="main">
        <div class="main-links">
            {% include 'portfolio/includes/button.html' with text='Отправить портфолио' href='upload' extra_classes='upload-btn' %}
            {% include 'portfolio/includes/button.html' with text='Преподаватель' href='teacher-login' extra_classes='teacher-btn' %}
        </div>
    </main>
    {% include "portfolio/includes/footer.html" %}
</div>

{% endblock  %}