@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ruslan+Display&family=Zen+Dots&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    background-color: darkblue;
    position: relative;
    font-family: "Roboto", sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.main-links {
    display: flex;
    flex-direction: column;
}

.link {
    text-decoration: none;
}

.link:visited {
    color: #237fca;
}

@media (hover: hover){
    .main-btn:hover {
        border-color: blue;
        color: blue;
    }
}