@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ruslan+Display&family=Zen+Dots&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    background-color: darkblue;
    position: relative;
    font-family: "Roboto", sans-serif;
}

.header {
    height: 20vh;
    display: flex;
    justify-content: center;
}

.header__content {
    max-width: 50%;
    min-width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
}

.header__content-image {
    height: 12vh;
    margin-right: 2vw;
}

.header__content-h {
    font-size: 1.5rem;
    color: white;
}

@media (max-width: 670px) {
    .header__content-h {
        font-size: 1rem;
    }
    .header__content-image {
        height: 10vh;
    }
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.main-links {
    display: flex;
    flex-direction: column;
}

.main-btn {
    background-color: #fff;
    color: #237fca;
    height: 7vh;
    width: 120px;
    margin-top: 2vh;
    border-radius: 20px;
    border: 2px solid lightskyblue;
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.link:visited {
    color: #237fca;
}

@media (hover: hover){
    .main-btn:hover {
        border-color: blue;
        color: blue;
    }
}

.footer {
    width: 100%;
    position: absolute;
    z-index: 10;
    bottom: 0;
    margin-bottom: 3vh;
}

.footer__content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.footer__content-p {
    font-size: 1rem;
}

.footer__content-image {
    margin-left: 1vw;
    width: 13vh;
}

@media (max-width: 445px) {
    .footer__content-p {
        font-size: 0.7rem;
    }
    .footer__content-image {
        width: 10vh;
    }
}