.header {
    height: 20vh;
    display: flex;
    justify-content: center;
    background-color: darkblue;
}

.header__content {
    max-width: 50%;
    min-width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
}

.header__content-image {
    height: 12vh;
    margin-right: 2vw;
}

.header__content-h {
    font-size: 1.5rem;
    color: white;
}

@media (max-width: 670px) {
    .header__content-h {
        font-size: 1rem;
    }
    .header__content-image {
        height: 10vh;
    }
}